header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    /* add background color */
}

.navbar-center {
    /* background-color: black; */
    width: 100%;
    /* max-width: 1170px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.logo img {
    height: 5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 5rem;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    position: relative;
    transition: font-size 0.2s ease-in-out;
}

nav a.active:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #333;
}

.icons ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.icons li {
    margin: 0 1rem;
}

.icons a img {
    height: 3.5rem;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.icons a:hover img {
    opacity: 0.7;
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: -7px;
    right: -7px;
    background: #E0AFA0;
    padding: 0 5px;
    border-radius: 30%;
    color: black;
    font-size: 1.5rem;
}

/* FOOTER */

/* .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #25242A;
}

.footer>div {
    flex: 1;
}

.footer h2 {
    color: #E0AFA0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
}

.footer li {
    align-items: center;
    color: aliceblue;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.footer li:hover {
    transform: scale(0.9);
}

.footer li:first-child {
    font-weight: bold;
} */