.main-product {
    margin: 2rem 1rem 0 1rem;
    text-align: center;
}

.main-product h2 {
    font-size: 1.7rem;
    font-weight: 500;
}

.front-page {
    display: flex;
    margin: 3rem 3rem;
}

.all-products {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    width: 85%;
}

.categories {
    /* border: 1px solid red; */
    text-align: left;
    margin: 0 2rem 0 0;
    width: 15%;
}


.category {
    cursor: pointer;
    padding: 5px 15px;
    margin: 4px 0;
    border: 2px solid #b0b0b0;
    border-radius: 1rem;
}

.categories .pressed {
    background: #d0d0d0
}

.categories h3 {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 5px;
}

.product-inner-box {
    background: #b0b0b0;
    cursor: pointer;
    object-fit: cover;
    width: 13rem;
    height: 13rem;
}

.product-inner-box:hover {
    background: #b0b0b0;
    object-fit: contain;
    width: 13rem;
    height: 13rem;
}

.product-outer-box {
    text-align: left;
    user-select: none;
    /* width: 14rem; */
    /* height: 13rem; */
}
