.main-product {
    margin: 2rem 1rem 0 1rem;
    text-align: center;
}

.main-product h2 {
    font-size: 1.7rem;
    font-weight: 500;
}

.front-page {
    display: flex;
    margin: 3rem 3rem;
}

.all-products {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    width: 85%;
}

.categories {
    /* border: 1px solid red; */
    text-align: left;
    margin: 0 2rem 0 0;
    width: 15%;
}


.category {
    cursor: pointer;
    padding: 5px 15px;
    margin: 4px 0;
    border: 2px solid #181717;
    border-radius: 1rem;
}

.categories .pressed {
    background: #ffffff
}

.categories h3 {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 5px;
}

.product-price {
    color: #616161;
}

.product-inner-box {
    background: #b0b0b0;
    cursor: pointer;
    object-fit: cover;
    width: 13rem;
    height: 13rem;
}

.product-inner-box:hover {
    background: #b0b0b0;
    object-fit: contain;
    width: 13rem;
    height: 13rem;
}

.product-outer-box {
    text-align: left;
    user-select: none;
    /* width: 14rem; */
    /* height: 13rem; */
}


/* Shopping cart sidebar */
.cart-sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: white;
    padding: 20px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-out;
}

.cart-sidebar.show {
    right: 0;
}

.cart-sidebar h3 {
    margin-top: 0;
}

.cart-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.cart-items-container {
    max-height: calc(100% - 150px);
    overflow-y: auto;
}

.cart-total-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-total-price {
    font-weight: bold;
}

.cart-buttons-container {
    display: flex;
    justify-content: space-between;
}

.cart-remove-all-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-checkout-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}